@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 60px;
  overflow-x: hidden !important;
}

.primary-color {
  color: #f26927;
}

.secondary-color {
  color: #1095e0;
}

.primary-bg-color {
  background: #f26927;
}

.secondary-bg-color {
  background: #1095e0;
}

.navbar-text {
}
